<!-- src/app/pages/dashboards/seguradora/lista-seguradora/lista-seguradora.component.html -->
<div class="row">
  <div class="col-xl-12">
    <div class="card">

      <!-- Cabeçalho -->
      <div class="card-header">
        <h4 class="card-title mb-0">Seguradoras Cadastradas</h4>
      </div>

      <div class="card-body">
        <!-- Componente genérico de listagem -->
        <app-lista-base #listaBase [todosItens]="allSeguradoras" [colunas]="colunas" [tamanhoPagina]="10" (editar)="onEdit($event)" (apagar)="onDelete($event)">
          <!-- Toolbar: botão “+ Nova Seguradora” -->
          <ng-template #toolbarTpl>
            <a class="btn btn-secondary" routerLink="cadastro">+ Nova Seguradora</a>
          </ng-template>

          <!-- Ações por linha: Editar / Apagar -->
          <ng-template #acoesTpl let-item>
            <button class="btn btn-sm btn-light me-1" (click)="listaBase.editar.emit(item)">
              Editar
            </button>
            <button class="btn btn-sm btn-danger" (click)="listaBase.apagar.emit(item)">
              Apagar
            </button>
          </ng-template>
        </app-lista-base>
      </div>

    </div>
  </div>
</div>